<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modern Chat App</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Sidebar section -->
    <div class="sidebar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="/cv-extractor-page"
            data-ai-services="cv-extractor-page"
            >CV Extractor</a
          >
        </li>
        <li class="nav-item"></li>
          <a
            class="nav-link"
            href="/web-scraper-page"
            data-ai-services="web-scraper-page"
            >Website Scraper</a
          >
        </li>
      </ul>
    </div>

    <!-- Main content -->
    <div class="container content-container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" data-chatbot="chatbot1"
                >Normal Chat</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-chatbot="chatbot2"
                >Store Conversation</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-chatbot="chatbot3">
                <img style="width: 25px; height: 25px;" src="{{url_for('static', filename='images/robot-assistant.png')}}" alt="chatbot" class="icon"> 
                Chat with Training Platform
                </a>
                
            </li>
          </ul>
        </div>
      </nav>

      <div class="chat-container" id="chat-container"></div>
      <div class="input-container">
        <input
          type="text"
          id="message-input"
          class="form-control"
          placeholder="Type your message..."
        />
        <button id="send-button" class="btn btn-primary">Send</button>
      </div>
    </div>

    <!-- Scripts and Libraries -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>

    <script>
      const userImage = "{{ url_for('static', filename='images/user.png') }}";
      const botImage = "{{ url_for('static', filename='images/gpt.jpg') }}";
    </script>
  </body>
</html>
